*{
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.cuadro1{
    width: 150px;
    height: 150px;
    background-color: orange;
}
.cuadro2{
    width: 150px;
    height: 150px;
    background-color: purple;
}
.cuadro3{
    width: 150px;
    height: 150px;
    background-color: green;
}

